/* Smartphone */

@media only screen and (max-width: 787px) {
    .header img{
        margin-left: 10px;
    }

    .header {
        position: relative;
        height: 460px;
    }

    .topo {
        text-align: center;
    }

    .topo ul li a {
        display: block;
        float: left;
        padding: 5px;
        border: 2px solid green;
        width: 220px;
        padding: 10px;
    }


/* Banner */

    .banner h1 {
        font-size: 65px;
        margin-top: -1px;
        margin-top: 40px;
   }

   .banner a {
    font-size: 17px;
   }
}